.search-results-container {
    min-height: 500px;
    margin: 20px auto;
    font-weight: 900;
    font-size: 24px;

    a {
        color: darkblue;

        &:hover {
            text-decoration: underline;
        }
    }

    .search-price {
        min-width: 160px;
        color: red;
    }
}

.search-results-count {
    margin-bottom: 20px;
}
