.common-catalog-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    font-size: 24px;
    font-weight: 600;
}

.side-bar {
    box-sizing: border-box;
    flex-basis: 20%;
    height: 100%;
    padding: 15px 0;

    .categories-title {
        font-weight: 900;
        font-size: 32px;
        padding: 5px;
        background-color: rgba(0, 134, 239, 0.86);
        color: white;
    }
}

.categories-list-item {
    cursor: pointer;
    padding: 10px 15px;

    &:nth-child(odd) {
        background-color: #eeeeee;
    }

    &:hover {
        text-decoration: underline;
    }
    
    &.active {
        text-decoration: underline;
    }

    &.actions {
        color: #ff0000;
    }

    a {
        display: block;
    }
}

.products-section {
    box-shadow: -10px -5px 15px -10px rgba(0, 0, 0, 0.55);
    margin: 0;
    box-sizing: border-box;
    flex-basis: 80%;
    padding: 25px;
}

.sort-menu {
    background-color: $c-light-gray-1;
    color: $c-white;
    padding: 15px;
}

.sort-menu-list {
    display: flex;
    justify-content: flex-start;

    &-item {
        cursor: pointer;
        margin-right: 15px;

        &:hover {
            text-decoration: underline;
        }

        &.active {
            text-decoration: underline;
        }
    }
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    background-color: $c-white;
    box-shadow: 0 0 25px -1px $c-product-card-shadow;
    box-sizing: border-box;
    cursor: pointer;
    flex-basis: 22%;
    margin: 15px;
    text-align: center;
    transition: transform .3s ease;

    &:hover {
        transform: scale(1.1);
        transition: transform .3s ease;

        .card-price {
            color: $c-product-title-hover;
        }
    }

    .product-link {
        display: block;
        padding: 15px;
    }

    .card-title,
    .card-price {
        margin: 5px;
    }

    .card-price {
        font-size: 28px;
    }

    .card-button {
        border-radius: 10px;
        border: 2px solid $c-product-buy-btn-border;
        color: $c-product-buy-btn-text;
        font-size: 19px;
        text-align: center;
        width: 175px;
        margin: 15px auto 15px;
        padding: 5px;
        transition: color .1s ease;
        text-transform: uppercase;

        &:hover {
            transition: color .1s ease;
            color: $c-product-buy-btn-text-hover;
            border-color: $c-product-buy-btn-border-hover;
        }

        form {
            display: flex;
            justify-content: center;
        }

        .button {
            background: none;
            border: 0;
            color: inherit;
            cursor: pointer;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            margin: 0;
            outline: none;
            padding: 0;
        }
    }

    img {
        width: 100%;
    }
}